# **Flights Section**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import flatten_json
import os
from glob import glob
from pandas.io.json import json_normalize

In [3]:
PATH = r"C:\Users\Vedanth.LAPTOP-MHC2LDIT\ML Project\Original Data"
EXT = "*.csv"
all_csv_files = [file
                 for path, subdir, files in os.walk(PATH)
                 for file in glob(os.path.join(path, EXT))]

df_from_each_file = (pd.read_csv(f) for f in all_csv_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)

In [5]:
concatenated_df

In [4]:
airports = ['ATL','CLT','DEN','DFW','EWR','IAH','JFK','LAS','LAX','MCO','MIA','ORD','PHX','SEA','SFO']

In [5]:
req_columns = ['FlightDate','Quarter','Year','Month','DayofMonth' ,'DepTime','DepDel15','CRSDepTime','DepDelayMinutes','OriginAirportID','DestAirportID','ArrTime','CRSArrTime','ArrDel15','ArrDelayMinutes','Origin','Dest']

unreq_columns = []

for i in concatenated_df.columns :  
    if i not in req_columns:   
        unreq_columns.append(i)

In [6]:
concatenated_df.drop(unreq_columns,axis=1,inplace=True).drop_duplicates()

In [20]:
flights_data = concatenated_df[(concatenated_df['Origin'].isin(airports)) & (concatenated_df['Dest'].isin(airports))]

In [8]:
flights_data.to_csv('flights_data.csv')

In [2]:
flights_data = pd.read_csv('flights_data.csv')

In [3]:
flights_data.drop('Unnamed: 0',axis=1,inplace=True)

In [4]:
def coversion(time) :
    a = time %100
    if(a<30) :
        time = time - a
    elif(a>=30) :
        a = time + (100 - a)
    if(time == 2400):
        time = 0
    return time

In [22]:
flights_data['time'] = flights_data['CRSArrTime'].apply(conversion).astype(str)

In [24]:
flights_data['primary'] = flights_data['Dest']+'|'+ flights_data['FlightDate']+'|' + flights_data['time']

In [38]:
flights_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1877285 entries, 0 to 1877284
Data columns (total 19 columns):
 #   Column           Dtype
---  ------           -----
 0   Year             int64
 1   Quarter          int64
 2   Month            int64
 3   DayofMonth       int64
 4   FlightDate       object
 5   OriginAirportID  int64
 6   Origin           object
 7   DestAirportID    int64
 8   Dest             object
 9   CRSDepTime       int64
 10  DepTime          float64
 11  DepDelayMinutes  float64
 12  DepDel15         float64
 13  CRSArrTime       int64
 14  ArrTime          float64
 15  ArrDelayMinutes  float64
 16  ArrDel15         float64
 17  time             object
 18  primary          object
dtypes: float64(6), int64(8), object(5)
memory usage: 272.1+ MB

In [28]:
flights_data

,Year,Quarter,Month,DayofMonth,FlightDate,OriginAirportID,Origin,DestAirportID,Dest,CRSDepTime,DepTime,DepDelayMinutes,DepDel15,CRSArrTime,ArrTime,ArrDelayMinutes,ArrDel15,time,primary
0,2016,1,1,1,2016-01-01,14747,SEA,12478,JFK,745,741.0,0.0,0.0,1602,1610.0,8.0,0.0,1600,JFK|2016-01-01|1600
1,2016,1,1,2,2016-01-02,14747,SEA,12478,JFK,745,737.0,0.0,0.0,1602,1613.0,11.0,0.0,1600,JFK|2016-01-02|1600
2,2016,1,1,3,2016-01-03,14747,SEA,12478,JFK,745,743.0,0.0,0.0,1602,1547.0,0.0,0.0,1600,JFK|2016-01-03|1600
3,2016,1,1,4,2016-01-04,14747,SEA,12478,JFK,745,737.0,0.0,0.0,1602,1551.0,0.0,0.0,1600,JFK|2016-01-04|1600
4,2016,1,1,5,2016-01-05,14747,SEA,12478,JFK,710,708.0,0.0,0.0,1527,1524.0,0.0,0.0,1500,JFK|2016-01-05|1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877280,2017,3,9,25,2017-09-25,14771,SFO,12478,JFK,2045,2038.0,0.0,0.0,522,449.0,0.0,0.0,500,JFK|2017-09-25|500
1877281,2017,3,9,25,2017-09-25,11618,EWR,13204,MCO,1205,1200.0,0.0,0.0,1449,1428.0,0.0,0.0,1500,MCO|2017-09-25|1500
1877282,2017,3,9,25,2017-09-25,13204,MCO,11618,EWR,1141,1143.0,2.0,0.0,1417,1409.0,0.0,0.0,1400,EWR|2017-09-25|1400
1877283,2017,3,9,25,2017-09-25,12889,LAS,12478,JFK,2159,2157.0,0.0,0.0,557,540.0,0.0,0.0,600,JFK|2017-09-25|600
1877284,2017,3,9,25,2017-09-25,13204,MCO,12478,JFK,605,605.0,0.0,0.0,837,821.0,0.0,0.0,900,JFK|2017-09-25|900

# **Weather Section**

In [7]:
weather = ['windspeedKmph','winddirDegree','weatherCode','precipMM','visibility','pressure','cloudcover','DewPointF','WindGustKmph','tempF','WindChillF','humidity','date','time', 'airports']
weather_df = pd.DataFrame()

In [8]:
PATH = r"C:\Users\Vedanth.LAPTOP-MHC2LDIT\ML Project\Original Data\weather-report"
EXT = "*.json"
all_json_files = [file
                 for path, subdir, files in os.walk(PATH)
                 for file in glob(os.path.join(path, EXT))]

In [10]:
req_files = []
for file in all_json_files:
    if '2016' in file:
        req_files.append(file)
    elif '2017' in file:
        req_files.append(file)

In [12]:
for filename in req_files:
    with open(filename) as f:
        data = json.load(f) 
    var1 = json_normalize(data['data']['weather'],record_path='hourly',meta='date')
    var1['airports'] = data['data']['request'][0]['query'][0:3]
    var1 = var1.filter(weather)
    weather_df = pd.concat([weather_df,var1])

C:\Users\Vedanth.LAPTOP-MHC2LDIT\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  after removing the cwd from sys.path.

In [13]:
weather_df['primary'] = weather_df['airports']+'|'+weather_df['date']+'|'+weather_df['time']

In [17]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 263160 entries, 0 to 719
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   windspeedKmph  263160 non-null  object
 1   winddirDegree  263160 non-null  object
 2   weatherCode    263160 non-null  object
 3   precipMM       263160 non-null  object
 4   visibility     263160 non-null  object
 5   pressure       263160 non-null  object
 6   cloudcover     263160 non-null  object
 7   DewPointF      263160 non-null  object
 8   WindGustKmph   263160 non-null  object
 9   tempF          263160 non-null  object
 10  WindChillF     263160 non-null  object
 11  humidity       263160 non-null  object
 12  date           263160 non-null  object
 13  time           263160 non-null  object
 14  airports       263160 non-null  object
 15  primary        263160 non-null  object
dtypes: object(16)
memory usage: 34.1+ MB

In [14]:
weather_df

,windspeedKmph,winddirDegree,weatherCode,precipMM,visibility,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,date,time,airports,primary
0,11,318,176,0.1,10,1023,100,47,17,49,46,91,2016-01-01,0,ATL,ATL|2016-01-01|0
1,13,317,176,0.0,10,1023,100,44,22,46,42,92,2016-01-01,100,ATL,ATL|2016-01-01|100
2,14,315,122,0.0,10,1023,100,41,26,43,38,92,2016-01-01,200,ATL,ATL|2016-01-01|200
3,16,314,122,0.0,10,1023,100,38,30,40,33,93,2016-01-01,300,ATL,ATL|2016-01-01|300
4,17,314,122,0.0,10,1023,100,38,30,40,33,93,2016-01-01,400,ATL,ATL|2016-01-01|400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,26,296,113,0.0,10,1014,0,57,27,67,67,70,2017-09-30,1900,SFO,SFO|2017-09-30|1900
716,26,298,113,0.0,10,1014,0,58,27,67,67,71,2017-09-30,2000,SFO,SFO|2017-09-30|2000
717,26,300,113,0.0,10,1014,0,58,27,67,67,73,2017-09-30,2100,SFO,SFO|2017-09-30|2100
718,23,302,113,0.0,10,1014,0,58,25,66,66,74,2017-09-30,2200,SFO,SFO|2017-09-30|2200
719,20,303,113,0.0,10,1014,0,58,22,66,66,75,2017-09-30,2300,SFO,SFO|2017-09-30|2300

In [15]:
weather_df.to_csv('weather-report.csv')

# **Merging Section**

In [29]:
dataset = pd.merge(flights_data,weather_df,on='primary',how='inner')

In [36]:
dataset.isna().any()
dataset.dropna()

,Year,Quarter,Month,DayofMonth,FlightDate,OriginAirportID,Origin,DestAirportID,Dest,CRSDepTime,...,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,date,time_y,airports
0,2016,1,1,1,2016-01-01,14747,SEA,12478,JFK,745,...,1015,0,32,26,41,32,74,2016-01-01,1600,JFK
1,2016,1,1,1,2016-01-01,13303,MIA,12478,JFK,1310,...,1015,0,32,26,41,32,74,2016-01-01,1600,JFK
2,2016,1,1,1,2016-01-01,13204,MCO,12478,JFK,1330,...,1015,0,32,26,41,32,74,2016-01-01,1600,JFK
3,2016,1,1,1,2016-01-01,12892,LAX,12478,JFK,800,...,1015,0,32,26,41,32,74,2016-01-01,1600,JFK
4,2016,1,1,1,2016-01-01,13930,ORD,12478,JFK,1240,...,1015,0,32,26,41,32,74,2016-01-01,1600,JFK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877280,2017,3,9,22,2017-09-22,12478,JFK,12892,LAX,2245,...,1010,3,59,12,67,67,75,2017-09-22,200,LAX
1877281,2017,3,9,23,2017-09-23,13930,ORD,12478,JFK,844,...,1016,0,61,18,77,77,58,2017-09-23,1200,JFK
1877282,2017,3,9,23,2017-09-23,11057,CLT,12478,JFK,1016,...,1016,0,61,18,77,77,58,2017-09-23,1200,JFK
1877283,2017,3,9,23,2017-09-23,12478,JFK,12892,LAX,2143,...,1009,4,61,8,68,68,80,2017-09-23,100,LAX
1877284,2017,3,9,24,2017-09-24,12478,JFK,12892,LAX,2245,...,1011,3,64,6,72,72,78,2017-09-24,200,LAX

In [37]:
dataset.to_csv('final-dataset.csv')